<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>VueJS</title>
	</head>
	<body>

    <div id="app">
      <search></search>
      <search></search>
    </div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
		<script>

class Item {
  constructor(title, link) {
    this.title = title
    this.link = link
  }
}

const Search = {
  data: function() {
    return {
      search: '',
      list: [
        new Item('pull', 'htt://google.com'),
        new Item('shoes', 'htt://google.com')
      ]
    }
  },
  computed: {
    listed: function() {
      return this.list.filter(item => {
        return item.title.includes(this.search)
      })
    }
  },
  template: `<div>
  <input type="text" v-model="search">
  <div v-for="item in listed"><a :href="item.link">{{ item.title }}</a></div>
  <div v-if="listed.length === 0">no item</div>
  </div>`
}

new Vue({
  el: '#app',
  components: { Search }
})

		</script>

	</body>
</html>