<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>VueJS Form Validation</title>
    <style>
      .form-group.has-warning label,
      .form-group.has-warning div { color: red }
      .form-group.has-warning input { border-color: red }
    </style>
  </head>
  <body>
    <form id="form" method="post" v-on:submit="validateForm">
      <div class="form-group" :class="{ 'has-warning': submit && missingName }">
        <label for="firstname">firstname</label>
        <input id="firstname" name="firstname" type="text" v-model="firstname">
        <div v-if="submit && missingName">This field is required.</div>
      </div>
      <div class="form-group" :class="{ 'has-warning': submit && missingLastName }">
        <label for="lastname">lastname</label>
        <input id="lastname" name="lastname" type="text" v-model="lastname">
        <div v-if="submit && missingLastName">This field is required.</div>
      </div>
      <button>Submit</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
    <script>
      var form = new Vue({
        el: '#form',
        data: {
          firstname: '',
          lastname: '',
          submit: false,
        },
        computed: {
          missingName: function () {
            return this.firstname === ''
          },
          missingLastName: function () {
            return this.lastname === ''
          }
        },
        methods: {
          validateForm: function (event) {
            this.submit = true;
            if (this.missingName || this.missingLastName) event.preventDefault()
          },
        },
      })
    </script>
  </body>
</html>
